<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_lapangbola.com</title>
</head>
<body>
    <nav class="bg-[#0E1327] text-white py-4 px-6 flex items-center justify-between">
        <ul class="flex space-x-6 text-sm">
            <li><a href="" class="hover:text-gray-400">HOME</a></li>
            <li><a href="" class="hover:text-gray-400">ABOUT</a></li>
            <li><a href="" class="hover:text-gray-400">NEWS & ARTICLE</a></li>
            <li><a href="" class="hover:text-gray-400">#WOFH</a></li>
            <li><a href="" class="hover:text-gray-400">MATCH CENTER</a></li>
            <li><a href="" class="hover:text-gray-400">LANGUAGE</a></li>
        </ul>
        <a href="" class="bg-[#FEEA01] text-black px-4 py-2 rounded-lg font-semibold">REGISTER</a>
    </nav>
</body>
</html>